$def with()
<html>
<head>
	<title>Create</title>
</head>
<body>
	<div>
		<form method='POST'>
			<input type='submit' name='id' value='Create RAID1' style='width:150px;height:40px;'>
			<input type='submit' name='id' value='Create RAID5' style='width:150px;height:40px;'>
			<br/>
			<input type='submit' name='id' value='Create RAID6' style='width:150px;height:40px;'>
			<input type='submit' name='id' value='Create RAID10' style='width:150px;height:40px;'>
			<br/>
			<input type='submit' name='id' value='See RAIDS' style='width:150px;height:40px;'>
			<input type='submit' name='id' value='Delete RAID' style='width:150px;height:40px;'>
			<br/>
			<input type='submit' name='id' value='Add hot-spare' style='width:150px;height:40px;'>
			<input type='submit' name='id' value='Delete hot-spare' style='width:150px;height:40px;'>
		<form>
	</div>
</body>
</html>



















